.container-fluid
  .row
    .col-md-10
      div.consola#consola
        div(ng-repeat="linia in history")
          span(ng-if="(linia.type==='text')") {{linia.value}}
          span(ng-if="(linia.type==='items')")
            button.btn.btn-xs.btn-success(ng-repeat="item in linia.value", ng-click="pickup_item(this)") 
              img(ng-src='{{item.img}}')
    .col-md-2
    .col-md-2
      .panel.panel-default
        .panel-heading Navegació
        .panel-body
          button.btn.btn-success.btn-xs(ng-repeat="conn in connections", ng-click="change_room(this)") {{conn.position}}
      .panel.panel-default
        .panel-heading Inventari
        .panel-body
          button.btn.btn-success.btn-xs(ng-repeat="item in inventari", ng-click="use_item(this)")
            img(ng-src='{{item.img}}')
  .row
    .col-md-12
       button.btn.btn-primary(ng-show='actions.discover', ng-click='discover()') discover
       